body {
	text-align: center;	
	background: #232625;
}

/*Landing screen styles*/

#logo {
	width: 70%;
	max-width: 300px;
	margin-top: 60px;
}

.citySelectWrapper {
	width: 70%;
	max-width:300px;
	margin: 25px auto;
}

#stateIcon {
	height: 40px;
	float: left;
	margin-right: 10px;
}

#citySelect {
	width: 75%;	
}

/*end landing screen styles*/

/*menu style*/

#menu {
	background: white;
	text-align: center;
}

.startOver {
	position: absolute;
	left:10px;	
	padding: 13px;
	color:black;
	text-decoration: none;
}

.startOver:hover {
	color: gray;
}

.startOver .fa {
	margin-right: 8px;	
}

.cityName {
	font-size: large;	
}

/*end menu style*/

/*weather styles*/

#weatherMain {
	background: gray;
	border-radius: 50%;
	color: white;
	width: 250px;
	height:250px;
	margin:0 auto;
	margin-top: 50px;
}

#conditionIcon {
	width: 50px;
	margin-top: 10px;
}

#temp {
    font-size: 7em;
    margin: -20px;
}

#condition {
    font-size: 1.7em;
    font-weight: 600;
    margin: 5px;	
}

#hiLo {
    font-size: 1.2em;
    margin: 15px;
}

.high {
    font-weight: 600;
    color: red;
}

.low {
	color: blue;	
}

/*end weather styles*/

/*weather deatil style*/

#details {
	height: 0;	
}

#detailsContainer {
	position: relative;
	width: 100%;
}

#detailsToggle {
    color: white;
    background: gray;
    border-radius: 10px;
    text-decoration: none;
    margin-top: -325px;
    margin-left: -45%;
	position: fixed;
    padding: 5px 10px;
	
	-webkit-transition: margin 1s; /* Safari */
    transition: margin 1s;
}

#detailsToggle:hover {
	color: black;
	background:white;	
}

#detailsTable {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	background: #1591BD;
	text-align: center;
	position: relative;
	top: -425px;
	
	-webkit-transition: top 1s; /* Safari */
    transition: top 1s;
}

#detailsTable td {	
	border: 1px solid;	
	padding: 20px;
	width: 50%;
}

.detailsOpen table {
	top: 100px !important;	
	position: relative !important; 
		
}

.detailsOpen a {
	margin-top: 100px !important;	
}

/*end weather detail styles*/

/*twiter button style*/

#twitterButton {
    width: 300px;
    margin: 18px auto;
    padding: 18px 0px;
    background: gray;
    color: white;
    border-radius: 40px;
}

#twitterButton .twitterButtonText {
    display: block;
    margin-top: 18px;
    margin-right: 20px;
    float: right;
}

#twitterButton .twitterIcon {
	font-size: 3em;	
}

/*end twitter button styles*/

/*activity slider style*/

.bx-viewport {
	padding-bottom: 20px;	
	max-width: 450px;
	margin: 0 auto;
	background: gray !important;
	border: none !important;
	border-radius: 10px;
	left: 0px !important;
}

#activities {
	width: 90%;
	max-width: 600px;
	margin:10px auto;
	color:white;
}

.activityImg {
	position: absolute;	
	margin-left: 5px;
	border-radius: 10px;
}

.activityDesc {
	text-align: center;
	float:left;
	float: right;
	width: 70%;
}

/*end activity slider styles*/



/*responsive edits*/

/*pure-u-sm -- >568px*/
@media screen and (min-width: 35.5em) {
	
	#detailsToggle {
		margin-left: -30%;	
	}
	
}

/*pure-u-md -- >768px*/
@media screen and (min-width: 48em) {
	
}

/*pure-u-lg -- >1024px*/
@media screen and (min-width: 64em) {
	
	#detailsToggle {
    position: fixed;
    margin-left: -250px;
    float: none;
	}
	
}

/*pure-u-xl -- >1280px*/
@media screen and (min-width: 80em) {
	
}

/*end responsive edits*/